APP_NAME=JESegurity
APP_ENV=local
APP_KEY=base64:K7zJJOuPj4OnHDOAFnRPETX3BS0lKj1m4b3V7f8e9A0=
APP_DEBUG=false
APP_URL=http://localhost:8080

LOG_CHANNEL=stderr
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=jesegurity
DB_USERNAME=jesegurity
DB_PASSWORD=jesegurity

CACHE_STORE=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
MAIL_MAILER=log
MAIL_FROM_ADDRESS=no-reply@jesegurity.local
MAIL_FROM_NAME=JESegurity
